.cache/
/__pycache__/read_data.cpython-36.pyc
/__pycache__/test_read_data.cpython-36-PYTEST.pyc
elm-stuff/
node_modules/*
public/
src/elm/Database.elm
.tern-port
/utils/temp_date.yaml
/utils/temp_data.yaml
.mypy_cache
*.log
