* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    font-family: "Nanum Barun Gothic", sans-serif !important;
}

input::placeholder {
    font-family: "Nanum Barun Gothic", sans-serif !important;
}

.list-group-item-heading {
  font-weight: bold;
}

$side-bar-width: 20%;
@media (min-width: 1024px) {
    .list {
        width: $side-bar-width;
    }
    .screen {
        margin-left: $side-bar-width;
        padding-bottom: 50%;
        position: fixed;
        width: 100 - $side-bar-width;
    }
}
