@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts" !default;
@import "~font-awesome/scss/font-awesome";

* {
  box-sizing: border-box;
}

body {
  font-family: "Spoqa Han Sans" sans-serif;
  font-weight: 300;
}

.search-box {
  font-weight: 100;
}
